@charset "UTF-8";

*{
	margin:0;
    padding:0;
    border:none;
}

body{
	font-family: Arial,helvetica,Sans-Serif;
	background-color: #E1E3E3;
}

h1{
	color: #fff;
	font-family: 'Dancing Script', cursive;
	text-align: center;
	background-color: #08C9BD;
	font-size: 4em;
	text-shadow:3px 3px 5px #272E2D;
}


.icons{
    height: 40px;
    width: 40px;
}

/*structural divs*/
#wrapper{
	overflow: hidden;
    margin: 0 auto;
    width: 850px;
    height: auto;
}

#header{
	width: 850px;
	height: 100px;
	
	position: relative;
	text-align: center;
}

div#menu {
	width: 850px;
    height: 54px;
    
    background-color: #F88017;
    position: relative;
    left: 0;
    font-family: 'Rancho', cursive;
	font-size: 25px;
	list-style: none;
	float: left;
	border-bottom: 1px dotted #FC5D08;
	border-top: 1px dotted #FC5D08;
}

div#menu ul {
	list-style: none;
    margin: 0;
    padding: 0;
	background-color: #F88017;
}

div#menu > ul > li {
	float: left;
	padding-left: 10px;
	padding-top: 5px;
	}

div#menu ul li {
	width: 190px;
	background-color: #F88017;
}

div#menu ul li#homeMenu {
	width: 198px;
	background-color: #F88017;
	position: fixed;
}

div#menu ul li a {
	width: 198px;
	text-decoration: none;
}

div#menu > ul > li > ul {
	display: none;
	background-color: #F88017;
	width: 190px;
}

div#menu > ul > li:hover > ul {
	display: block;
}

#content{

}

section{
    height:600px;
    width: 840px;
 	/*border: 3px solid #000;*/  
 }
.holder{
    height:600px;
    width: 600px;
 	/*border: 3px solid #000;*/
 }

#slideshow { 
	max-height:600px; 
	max-width:600px; 
	padding-top: 5px;
	float: right;
}
#holder { 
	height:600px; 
	width:600px; 
	float: right;
}
.rightsection{
	position: absolute;
	left: 72%;
	top: 138%;
}

.toggle { 

	font-size: 13px;
	line-height:20px;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #ffffff; /* Main background */
	margin-bottom: 10px;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;	
	
}

/* Toggle Link text */
.toggle a.toggle-trigger {
	
	display:block;
	padding: 10px 20px 15px 20px;
	text-decoration: none;
	color: #666;

}

/* Toggle Link hover state */
.toggle a.toggle-trigger:hover {
	opacity: .8;
	text-decoration: none;
}

/* Toggle link when clicked */
.toggle a.active {
	text-decoration: none;
	border-bottom: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 8px 6px -6px #ccc;
	   -moz-box-shadow: 0 8px 6px -6px #ccc;
	        box-shadow: 0 8px 6px -6px #ccc;
	color: #000;
}

/* Lets add a "-" before the toggle link */
.toggle a.toggle-trigger:before {
	content: "-";	/* You can add any symbol, font icon, or graphic icon */
	margin-right: 10px;
	font-size: 1.3em;	
}

/* When the toggle is active, change the "-" to a "+" */
.toggle a.active.toggle-trigger:before {
	content: "+";
}

/* The content of the toggle */
.toggle .toggle-content {
	padding: 10px 20px 15px 20px;
	color:#666;
}


#footer{


}